h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}

@media screen and (min-width: $tablet) {
  h1 {
    font-size: $h1;
  }
  h2 {
    font-size: $h2;
  }
  h3 {
    font-size: $h3;
  }
  h4 {
    font-size: $h4;
  }
  h5 {
    font-size: $h5;
  }
}

@media screen and (min-width: $largeDesktop) {
  h1 {
    font-size: $giga;
  }
  h2 {
    font-size: $h1;
  }
  h3 {
    font-size: $h2;
  }
  h4 {
    font-size: $h3;
  }
  h5 {
    font-size: $h4;
  }
}
