.order-reference {
  color: $fontSecondaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    h1 {
    }
  }
  &__instruction {
    padding: 1em;
  }
  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: $desktop;
    padding-top: 10em;

    .button {
      width: unset;
    }

    input {
      border: none;
      border-bottom: 1px solid gray;
    }
    &--error:after {
      content: "the code provided was not correct or no products were linked to it";
      padding: 1em;
      color: $error;
    }
  }
}
