.select-store {
  &__title {
    padding: $tryItPadding;
    font-weight: $bold;
    padding: 2rem;
    font-weight: 700;
    display: flex;
    align-items: baseline;

    & > * {
      margin-right: 1em;
    }

    &__pins {
      width: 2em;
      height: 2em;
      display: flex;
      border-radius: 100%;
      color: $white;
      background: $reverseBackgroundColor;
      justify-content: center;
      align-items: center;
    }
  }

  &__searchbar {
    padding: $tryItPadding;
    background: $shade02;
    position: relative;
    z-index: 1200;
  }
}
