@import url("https://fonts.googleapis.com/css?family=Changa:200,300,400,500,600,700,800&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Martel:200,300,400,600,700,800,900&amp;subset=latin-ext");

$mainFontFamily: Changa, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$importantFontFamily: Martel, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans;

$regular: 400;
$semiBold: 600;
$bold: 700;

$verySmallText: 0.625rem;
$smallText: 0.75rem;
$body: 0.875rem;
$largeText: 1rem;

$h5: 1rem;
$h4: 1.125rem;
$h3: 1.5rem;
$h2: 2rem;
$h1: 2.5rem;
$giga: 3rem;
