.try-it {
  padding: 1em 0;
  font-size: $body;
  max-width: $tablet;
  margin: 0 auto;
  color: $fontSecondaryColor;

  &__header {
    font-size: $h2;
    font-weight: $bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $tryItPadding;
    & > * {
      padding: 1em 0;
    }

    &__title {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 3em;
        background: $shade02;
      }
    }

    &__steps-count {
      display: flex;
      align-items: center;
      font-size: $h3;
      color: $shade02;
    }
  }

  &__footer {
    padding: 1em $tryItPadding;

    &__error {
      display: none;
      &--displayed {
        padding: 1em;
        color: $warning;
        display: flex;
        justify-content: center;
      }
    }
  }
}
