.validation {
  text-align: center;
  margin-bottom: 8em;

  img {
    width: 54%;
    max-width: 15em;
    min-width: 12.5em;
  }

  div {
    padding: calc(#{$tryItPadding} - 1em);
    padding-bottom: 0;
  }
}
