.button {
  background-color: transparent;
  border: none;
  color: $fontColor;
  font-weight: $bold;
  font-size: $normal;
  padding: 1.4em 3em;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: darken($backgroundColor, 15%);
  }

  &.invisible {
    padding: 0;
    background-color: inherit;
    text-transform: none;
    color: inherit;
    font-weight: normal;
  }

  &.full-size {
    width: 100%;
    display: block;
  }

  &.add-to-cart {
    width: 100%;
    display: block;
    background-color: $backgroundColor;
    border-radius: 50px;
    &:hover {
      background-color: $shade02;
    }
  }

  &.simple {
    border: none;
    border-radius: none;
    font-weight: $regular;
    text-transform: unset;
    &:hover {
      background-color: $backgroundColor;
    }
  }

  &.dark {
    text-align: center;
    width: unset;
    display: block;
    color: $reverseFontColor;
    text-transform: uppercase;
    text-decoration: none;
    background-image: $gradient;
    background-color: $brandSecondary;
    padding: 1.4em 3em;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover {
      background-color: $shade05;
    }
  }
  &.dark {
    text-align: center;
    width: 100%;
    display: block;
    color: $reverseFontColor;
    text-transform: uppercase;
    text-decoration: none;
    background-image: $gradient;
    background-color: $brandSecondary;
    padding: 1.4em 3em;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover {
      background-color: $shade05;
    }
  }
}
