$verticalSpacing: 2rem;

.product-view {
  padding: $verticalSpacing 0;

  &__title {
    text-align: center;
    margin-bottom: $verticalSpacing;
    border-bottom: 2px solid $shade02;
    padding: 1em 0;
  }
  &__description {
    text-align: center;
    &__title {
      font-weight: $bold;
    }
  }
}

.product-actions {
  text-align: center;
  margin-bottom: $verticalSpacing;
  & > * {
    margin: 1em 0;
  }
}

@media screen and (min-width: $tablet) {
  .product-view {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    &__title {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .product-actions {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: $desktop) {
  .product-view {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 0;

    &__title {
      margin-bottom: 2rem;
    }
  }

  .product-actions {
    margin: 0;
    order: 3;
    text-align: left;
  }
}
