.product-home-view {
  &--inactive {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: -100%;
    top: 0;
  }
  &--current {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    font-size: $giga;
    padding: 0.5em;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
  }

  &__content {
    margin-bottom: 9rem;
  }

  &__action {
    bottom: 0;
    & > div {
      margin-top: 4em;
    }
  }

  strong {
    display: block;
  }
}
