a {
  color: $brandPrimary;
  font-weight: bold;

  &.reversed {
    color: $reverseFontColor;
  }

  &.simple {
    color: $fontSecondaryColor;
    text-decoration: none;
    font-weight: $regular;
  }

  &.dark {
    text-align: center;
    width: unset;
    display: block;
    color: $reverseFontColor;
    text-transform: uppercase;
    text-decoration: none;
    background-image: $gradient;
    background-color: $brandSecondary;
    padding: 1.4em 3em;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover {
      background-color: $shade05;
    }
  }

  &.important {
    color: $fontColor;
    text-decoration: none;
    background: linear-gradient(to bottom right, #f50146, #002c56);
    font-size: $body;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 1em 3em;
  }
}
