$brandPrimaryBackground: #b50033;
$brandHoverPrimary: #aa0030;
$brandPrimary: #f50146;
$brandSecondary: #002c56;
$white: #fff;
$black: #000;

$orange: #ff5501;
$red: #ff0000;

$shade01: $white;
$shade02: #edf2f2;
$shade03: #8c8f8f;
$shade04: #707373;
$shade05: #333333;
$shade06: #252626;

$success: #8bd393;
$info: #3dd0c0;
$warning: #f5ae01;
$error: #ff0000;

$backgroundColor: $white;
$fontColor: #333333;
$fontDisabled: $shade05;
$fontSecondaryColor: $shade05;

$reverseBackgroundColor: $fontColor;
$reverseFontColor: $backgroundColor;

$titleColor: $brandPrimary;
